<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.mapper.ICategoryMapper">

    <select id="findByParentIdIsNull" resultType="com.briup.bean.vo.CategoryVO">
        select id,name from t_category where parent_id is null
    </select>

    <resultMap id="CategoryVO" type="com.briup.bean.vo.CategoryVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection  ofType="com.briup.bean.Category" property="categories">
            <id property="id" column="id"/>
            <id property="name" column="name"/>
        </collection>
    </resultMap>
    <select id="findByParentId" resultMap="CategoryVO">
        select t_category.id,t_category.name,t_category.parent_id from t_category where parent_id=#{id}
    </select>


</mapper>