<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.mapper.IShopMapper">
    <insert id="addShopToShopCar">
        insert into t_shop_car ( shop_id, user_id) values (#{shopId},#{userId})
    </insert>
    <update id="updateVisitVolume">
        update t_shop set visit_volume=visit_volume+1 where id=#{shopId}
    </update>
    <update id="updateSalesVolume">
        update t_shop set sales_volume=sales_volume+1 where id=#{shopId}
    </update>

    <select id="findByDiscountOrderBySalesVolumeDesc" resultType="com.briup.bean.Shop">
        select id,name,img,discount,discount_price,selling_price,stock_num,sales_volume,tags,store,info,price,category_id,stat,intro from t_shop where discount=#{discount} order by sales_volume desc
    </select>
    <select id="findByNameContaining" resultType="com.briup.bean.Shop">
        select id,name,img,discount,discount_price,selling_price,stock_num,sales_volume,tags,store,info ,price,category_id,stat,intro from t_shop where name like concat('%',#{name},'%')
    </select>
    <select id="findShopById" resultType="com.briup.bean.Shop">
        select id,name,img,discount,discount_price,selling_price,stock_num,sales_volume,tags,store ,info,price,category_id ,stat,intro from t_shop where id=#{id}
    </select>
    <select id="findByCategoryId" resultType="com.briup.bean.Shop">
        select id,name,img,discount,discount_price,selling_price,stock_num ,sales_volume,tags,store,info,price,category_id,stat,intro from t_shop where category_id=#{categoryId}
    </select>
    <select id="findAllShopByVisitVolumeDesc" resultType="com.briup.bean.Shop">
        select id,name,img,discount,discount_price,selling_price,stock_num,sales_volume,tags,store,info,price,category_id,stat,intro from t_shop order by visit_volume desc
    </select>
    <select id="findByRecommendOrderBySalesVolumeDesc" resultType="com.briup.bean.Shop">
        select id,name,img,discount,discount_price,selling_price,stock_num,sales_volume,tags,store,info,price,category_id,stat,intro from t_shop order by sales_volume desc limit 0,8
    </select>
</mapper>
