<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <base th:href="${#request.getScheme()+'://'+#request.getServerName()+':'+#request.getServerPort()+#request.getContextPath()+'/'}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>添加收件人信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/estore.js}"></script>

</head>
<body>
<div th:replace="~{common/common::bar}"></div>

<!-- 按钮触发模态框 -->
<!-- 模态框（Modal） -->
<!--编辑收货信息模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel" style="color:green">修改收货信息</h5>
            </div>
            <div style="padding-left: 30px">
                <form th:action="@{/shippingAddress/updateAddress}" method="post">
                    <!--addressId-->
                    <input type="hidden" id="MdaddressId" name="id">
                    <div class="form-group">
                        <label for="Mdname">收货人</label>
                        <input type="text" class="form-control" id="Mdname" aria-describedby="emailHelp" name="name">
                    </div>
                    <div class="form-group">
                        <label for="MdphoneNum">电话</label>
                        <input type="text" class="form-control" id="MdphoneNum" name="phoneNum">
                    </div>
                    <div class="form-group">
                        <label for="Mdaddress">地址</label>
                        <input type="text" class="form-control" id="Mdaddress" name="address">
                    </div>
                    <button type="submit" class="btn btn-success">修改</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--头部-->
<div class="head">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <img th:src="@{images/logo.png}" class="logo">
        </div>
        <div class="col-md-6 column">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="请输入商品名称" style="padding: 20px"
                       id="searchShopName">
                <span class="input-group-btn">
						<button class="btn btn-search" type="button" th:onclick="searchShop()"><span
                                class="glyphicon glyphicon-search"></span></button>
					</span>
            </div>
        </div>
        <div class="col-md-3 column bag">
            <a th:href="@{/toShopCar}">
                <button class="btn btn-estore">
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;购物车
                </button>
            </a>
        </div>
    </div>
</div>

<div class="nav">
    <div class="col-md-2 column  type" data-toggle="collapse"
         href="#typeMenu" style="width: 240px !important;">添加收货信息
    </div>
</div>

<div class="body">

    <div class="addShippingAddress">
        <div class="addressList">
            <ul>
                <li th:each="address : ${addressList}" style="padding-top: 20px">
                    <div class="addressUserMsg">
                        <div class="msgOne">
                            <p><span class="name" th:text="${address.name}">收货人</span>&nbsp;<span class="tel"
                                                                                                     th:text="${address.phoneNum}">电话</span>
                            </p>
                            <p class="address" th:text="${address.address}">地址</p>
                        </div>
                        <div class="msgTwo">
                            <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"
                                    th:onclick="'updateAddress('+${address.id}+')'">编辑
                            </button>
                            <button class="btn btn-danger btn-xs" th:onclick="'delAddress('+${address.id}+')'">删除
                            </button>
                            <button class="btn btn-default btn-xs" th:if="${address.defaultValue}" disabled="disabled">
                                默认
                            </button>
                            <button class="btn btn-primary btn-xs" th:if="${!address.defaultValue}"
                                    th:onclick="'setDefault('+${address.id}+')'">设为默认
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form">
            <form role="form" th:action="@{/shippingAddress/addShippingAddress}" method="post"
                  onsubmit="return verfiy()">
                <div class="form-group">
                    <label>收货人</label><input type="text" class="form-control" name="name"
                                                placeholder="请填写真实姓名" onblur="verfiyName()"
                                                id="name"
                />
                </div>
                <div id="verfiyName" class="verfiy" style="color: red"></div>
                <div class="form-group">
                    <label>联系电话</label><input type="tel" class="form-control"
                                                  placeholder="请填写你的联系方式" id="phoneNum" name="phoneNum"
                                                  onblur="verfiyPhone()"/>
                </div>
                <div id="verfiyPhone" class="verfiy" style="color: red"></div>

                <div class="form-group">
                    <label> 收货地址</label><input type="text" class="form-control"
                                                   placeholder="请填写你的收货地址" id="address" name="address"
                                                   onblur="verfiyaddress()"/>
                </div>
                <div id="verfiyaddress" class="verfiy" style="color: red"></div>
                <button type="submit" class="btn btn-success">添加</button>
            </form>
        </div>

    </div>


</div>
<!--脚部-->
<div th:replace="~{common/common::footbar}"></div>
</body>
</html>
<script type="text/javascript">
    function verfiy() {
        var s = $('#address').val();
        var s1 = $('#phoneNum').val();
        var s2 = $('#name').val();
        if (s === '' || s === null) {
            $('#verfiyaddress').text("请填写完整的收获地址")
            return false;
        }
        if (s1 === '' || s1 === null) {
            $('#verfiyPhone').text("请填写正确的联系方式")
            return false;
        }
        if (s2 === '' || s2 === null) {
            $('#verfiyName').text("请填写收获人姓名")
            return false;
        }
        return true;
    }

    function verfiyaddress() {
        var s = $('#address').val();
        if (s === '' || s === null) {
            $('#verfiyaddress').text("请填写完整的收获地址")
        } else {
            $('#verfiyaddress').text("")
        }
    }

    function verfiyPhone() {
        var s = $('#phoneNum').val();
        if (s === '' || s === null) {
            $('#verfiyPhone').text("请填写正确的联系方式")
        } else {
            $('#verfiyPhone').text("")
        }
    }

    function verfiyName() {
        var s = $('#name').val();
        console.log(s)
        if (s === '' || s === null) {
            $('#verfiyName').text("请填写收获人姓名")
        } else {
            $('#verfiyName').text("")
        }
    }

    //删除收货地址
    function delAddress(id) {
        if (confirm("删除该收货信息？")) {
            //点击确定后操作
            $.ajax({
                type: 'delete',
                url: 'shippingAddress/delAddress?addressId=' + id,
                success: function () {
                    window.location.reload()
                },
                error: function () {
                    alert("删除失败")
                },
            })
        }
    }

    //修改收货地址
    //获取收货地址信息
    function updateAddress(id) {
        $.ajax({
            type: 'get',
            url: 'shippingAddress/getAddress?addressId=' + id,
            success: function (data) {
                $('#Mdname').val(data.name)
                $('#MdphoneNum').val(data.phoneNum)
                $('#Mdaddress').val(data.address)
                $('#MdaddressId').val(id)
            },
            error: function () {
                alert("获取失败")
            },
        })
    }

    //设置默认收货地址
    function setDefault(id) {
        $.ajax({
            type: 'put',
            url: 'shippingAddress/setDefault?addressId=' + id,
            success: function () {
                window.location.reload()
            },
            error: function () {
                alert("设置失败")
            },
        })
    }

</script>
