<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>briup-电子商务-登录</title>
    <base th:href="${#request.getScheme()+'://'+#request.getServerName()+':'+#request.getServerPort()+#request.getContextPath()+'/'}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/estore.js}"></script>
</head>

<body>
<div class="login_top">
    <img th:src="@{images/logo.png}">
    <h2 class="title">欢迎登陆</h2>
</div>
<div class="login_tip"><span class=" glyphicon glyphicon-info-sign">&nbsp;</span>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！
    新版《杰普隐私政策》已上线，将更有利于保护您的个人隐私。
</div>
<div class="login_bg row">
    <div class="login_body col-md-7 column">
        <img th:src="@{images/bg_login.png}">
    </div>
    <div class="login_box col-md-3 column">
        <h1>账号登录</h1>
        <th:p>[[${msg}]]</th:p>
        <h2>公共场所请不要泄露您的密码，以防止账号丢失</h2>
        <form th:action="@{/user/login}" class="form-horizontal" role="from" method="post"
              onsubmit="return checkLogin();">

            <div class=" form-group">
                <div class="input-group ">
                    <span class="input-group-addon glyphicon glyphicon-user"></span> <input id="username" type="text"
                                                                                            name="loginName"
                                                                                            placeholder="邮箱/用户名/已验证手机号"
                                                                                            value="Jay"
                                                                                            class="form-control"/>
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group ">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span> <input id="password"
                                                                                            type="password"
                                                                                            name="password"
                                                                                            placeholder="请输入密码"
                                                                                            value="123456"
                                                                                            class="form-control"/>
                </div>
            </div>
            <div class="form-group" th:if="${msg!=null}">
                <th:p style="color: red">[[${msg}]]</th:p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="submit" value="登录" class="btn btn-success btn-login"/>

                </div>
            </div>
            <div class="treg">

                <a th:href="@{/toRegister}">&nbsp;立即注册</a>
                <span class=" 	glyphicon glyphicon-hand-right"></span>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{common/common::footbar}"></div>
</div>
</body>

</html>