<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>briup-电子商务</title>
    <base th:href="${#request.getScheme()+'://'+#request.getServerName()+':'+#request.getServerPort()+#request.getContextPath()+'/'}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/jquery-labelauty.css}">
    <meta charset="utf-8">
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/estore.js}"></script>
</head>


<body>
<a href="#top" alt="回到顶部" class="toTop">
    <button class="btn btn-top"><span class="glyphicon glyphicon-chevron-up"></span></button>
</a>
<div th:replace="~{common/common::bar}"></div>

<div class="head">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <img th:src="@{images/logo.png}" class="logo">
        </div>
        <div class="col-md-6 column">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="请输入你要检索的商品名字" style="padding: 20px"
                       id="searchShopName">
                <span class="input-group-btn">
                            <button class="btn btn-search" type="button" onclick="searchShop()"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
            </div>
        </div>
        <div class="col-md-3 column bag">
            <a th:href="@{/toShopCar}">
                <button class="btn btn-estore">
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;购物车
                </button>
            </a>
        </div>
    </div>

</div>
<div class="nav">
    <div class="col-md-2 column  type">
        我的订单
    </div>


</div>
<div class="body">
    <div class="row orders">
        <table class="table order-tb table-bordered" th:each="orders:${orderList}">
            <tr>
                <td class="order-message-1">
                    <div>
                        <span>订单编号：</span>
                        <span class="order-no" th:text="${orders.id}"></span>
                        <span>创建时间:</span>
                        <span class="create-date" th:text="${orders.createDate}"></span>
                    </div>
                </td>
                </th>
            </tr>
            <tr>
                <td class="order-message-2">
                    <div>
                        <span>订单金额： <b class="order-price" th:text="${'￥'+orders.sumPrice}">¥353.80</b> </span>
                        <span>支付方式： <b>支付宝支付</b></span>
                        <span>配送方式： <b>快递配送</b></span>

                    </div>
                </td>

            </tr>
            <tr>
                <td class="bg-warning">
                    <div class="ship-address">
                        <b>收货信息：</b>
                        <span th:text="${orders.shippingAddress.name}">收货人：</span>
                        <span th:text="${orders.shippingAddress.address}">地址：</span>
                        <span th:text="${orders.shippingAddress.phoneNum}">电话：</span>
                    </div>
            </tr>
            <tr th:each="item:${orders.orderItems}">
                <td class="order-item">
                    <div>
                        <p><label class="label-success label" th:text="${item.shop.store}">杰普自营</label></p>
                        <img class="shop-img" th:src="${item.shop.img}">
                        <div class="shop-msg">
                            <b th:text="${item.shop.name}">吉顺（jishun）16A插座接线板插座大功率4000W插排空调插座插线板拖线板10A插头
                                1</b>
                        </div>

                        <span class="price" th:text="${item.shop.discountPrice}"
                              th:if="${item.shop.discount}">308元</span>
                        <span class="price" th:text="${item.shop.selling_price}"
                              th:if="${!item.shop.discount}">308元</span>
                        <span class="num" th:text="${'X'+item.num}"> x1</span>
                        <span class="order-status">
                            <label class="label label-info" th:if="${orders.status==1}" th:text="未支付"></label>
                            <label class="label label-info" th:if="${orders.status==2}" th:text="待发货"></label>
                            <label class="label label-info" th:if="${orders.status==3}" th:text="待收货"></label>
                            <label class="label label-info" th:if="${orders.status==4}" th:text="已完成"></label>
                        </span>
                        <span>
                                   <a th:if="${orders.status==1}" th:href="${'order/selectOrder?id='+orders.id}"><button
                                           class="btn btn-success btn-sm"><i
                                           class="glyphicon glyphicon-credit-card"></i></button></a>
                            <button class="btn btn-danger btn-sm" th:onclick="deleteOrder([[${orders.id}]])">
                                        <i class="glyphicon glyphicon-trash"></i></button></span>

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="~{common/common::footbar}"></div>
</div>
</body>

</html>
<script type="text/javascript">
    //删除订单
    function deleteOrder(id) {
        //提示信息
        if (confirm("删除该订单？")) {
            $.ajax({
                type: "delete",
                url: "/order/deleteOrder?id=" + id,
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert("删除失败");
                }
            })
        }

    }

</script>